<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CW_BombBadgeNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,962},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>CW_Drawone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{544,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,124}}</string>
                <key>sourceSize</key>
                <string>{544,124}</string>
            </dict>
            <key>change_bushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,810},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>change_bushouSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,888},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>change_pinyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,786},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>change_pinyinSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,738},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,990},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>drawing_brush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,656},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush1Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,701},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,619},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush2Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,803},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,803},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush3Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,803},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,803},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_brush4Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,803},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>drawing_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,656},{274,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,88}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>drawing_doneSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,656},{274,88}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,88}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>drawing_eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,803},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>drawing_eraserSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,542},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>drawing_more_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,738},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>drawing_more_colorSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,542},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>drawing_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,932},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>drawing_penSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,932},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>drawing_recycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,594},{49,60}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{49,60}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>game_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_pre_Playingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,656},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>game_pre_PlayingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,656},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>game_pre_drowingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,656},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>game_pre_drowingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,477},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>game_pre_guessingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,335},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>game_pre_guessingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,193},{145,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>paint_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,122}}</string>
                <key>sourceSize</key>
                <string>{768,122}</string>
            </dict>
            <key>paint_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{768,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,114}}</string>
                <key>sourceSize</key>
                <string>{768,114}</string>
            </dict>
            <key>word_answer.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,542},{70,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>word_choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,542},{70,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>word_delall.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,542},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>word_delallSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,691},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>word_explode.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,542},{97,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>word_geziSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,193},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>word_gezi_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>word_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_giveupSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_guess_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{189,236}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,236}}</string>
                <key>sourceSize</key>
                <string>{193,240}</string>
            </dict>
            <key>word_lansedi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,454},{640,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,86}}</string>
                <key>sourceSize</key>
                <string>{640,86}</string>
            </dict>
            <key>word_lansedi_struct_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,242},{640,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,122}}</string>
                <key>sourceSize</key>
                <string>{640,122}</string>
            </dict>
            <key>word_left_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>word_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_replaySel.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,550},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>word_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_skipSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,888},{128,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,55}}</string>
                <key>sourceSize</key>
                <string>{130,57}</string>
            </dict>
            <key>word_struct_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,897},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,88}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>word_up_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,444},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>word_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,619},{70,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>word_wrong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,366},{640,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,86}}</string>
                <key>sourceSize</key>
                <string>{640,86}</string>
            </dict>
            <key>word_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,542},{98,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,145}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>word_zhadanSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,297},{98,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,145}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3738ac35135422e6e28a33a095606a9$</string>
            <key>textureFileName</key>
            <string>game-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
