<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CW_BombBadgeNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,437},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>CW_Drawone.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,214},{272,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,62}}</string>
                <key>sourceSize</key>
                <string>{272,62}</string>
            </dict>
            <key>change_bushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,504},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>change_bushouSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,473},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>change_pinyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,467},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>change_pinyinSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,430},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,329},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>drawing_brush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,436},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush1Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,436},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,488},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush2Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,430},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,393},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush3Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,413},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_brush4Sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,393},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>drawing_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,523},{136,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,43}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>drawing_doneSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,385},{136,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,43}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>drawing_eraser.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,292},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>drawing_eraserSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,245},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>drawing_more_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,368},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>drawing_more_colorSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,339},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>drawing_pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,198},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>drawing_penSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,151},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>drawing_recycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,397},{27,31}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{27,31}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>game_pencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,360},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game_pre_Playingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,459},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>game_pre_PlayingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,387},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>game_pre_drowingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,315},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>game_pre_drowingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,243},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>game_pre_guessingicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,171},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>game_pre_guessingiconSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,99},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>paint_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,61}}</string>
                <key>sourceSize</key>
                <string>{384,61}</string>
            </dict>
            <key>paint_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{384,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,57}}</string>
                <key>sourceSize</key>
                <string>{384,57}</string>
            </dict>
            <key>word_answer.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,355},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>word_choice.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,316},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>word_delall.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,400},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>word_delallSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,393},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>word_explode.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,99},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>word_geziSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,360},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>word_gezi_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,393},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>word_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,329},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_giveupSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_guess_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{95,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,118}}</string>
                <key>sourceSize</key>
                <string>{97,120}</string>
            </dict>
            <key>word_lansedi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{384,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,43}}</string>
                <key>sourceSize</key>
                <string>{384,43}</string>
            </dict>
            <key>word_lansedi_struct_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{320,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,61}}</string>
                <key>sourceSize</key>
                <string>{320,61}</string>
            </dict>
            <key>word_left_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>word_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,308},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_replaySel.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,308},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,339},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>word_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,277},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_skipSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,277},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
            <key>word_struct_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,339},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>word_up_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,339},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>word_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,277},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>word_wrong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{384,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,43}}</string>
                <key>sourceSize</key>
                <string>{384,43}</string>
            </dict>
            <key>word_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,277},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>word_zhadanSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{50,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54929f2199cd8eed7a55edc1660eb468$</string>
            <key>textureFileName</key>
            <string>game.pvr.ccz</string>
        </dict>
    </dict>
</plist>
